.startGameButton {
    color: white;
    font-size: 2em;
    background-color: rgb(40, 114, 197);
    border: 2px solid rgb(94, 93, 93);
    border-radius: 0.5rem;
}

.errorMessage {
    height: 1em;
    color: red;
}