.main-header {
    background-color: white;
    color: rgb(83, 85, 83);
    font-size: 2rem;
    margin-bottom: 8px;
}

.main-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 113, 179);
    font-size: 2rem;
    height: 45px;
}

.main-navigation a {
    color: white;
    text-decoration: none;
}

#playnavigation:hover {
    color:rgb(190, 190, 190)
}
#aboutnavigation:hover {
    color:rgb(190, 190, 190)
}

.main-header div {
    display: flex;
    align-items: center;
}

.main-header img {
    height: 50px;
    margin: 6px;
}